/* En comun */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.belowHeader{
    position: relative;
    top: 80px;
    padding-bottom: 80px;
}
.title{
    width: 100%;
    height: 100px;
    background-color: rgb(39, 153, 137);
    font-family: 'Playfair Display', serif;
    color: white;
    font-weight: 100;
    font-size: 40px;
    display: flex;
    align-items:center;
    justify-content:center;
}
.description{
    padding: 20px 20vw 20px 20vw ;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    line-height: 40px;
    text-justify: auto;
}
.description p{
    padding-bottom: 15px;
}
.middleButton{
    margin: 20px;
    text-align: center;
    display: block;
}
.middleButton a{
    background-color: rgb(39, 153, 137);
    color: white;
    width: 115px;
    height: 25px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    line-height: 25px;
    text-decoration:none
}
.middleButton a:hover{
    text-decoration: underline;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display&display=swap');




/* header*/





/* Homepage */
#homepageVideo {
    min-width: 100%; 
    min-height: 400px;
}




/* Pyautocad y ML*/
.videoTable{
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20vw 20px 20vw;
}
.videoTable td{
    padding: 20px;
}
.videoTable iframe{
    height: 200px;
    width: 400px;
}
.videoTable h2{
    color: rgb(39, 153, 137);
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
.videoTable p{
    margin: 5px;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-size: 20px;
}




/* CONTACTO */
#contactLinks{
    padding-left: 20vw;
}
#contactLinks li{
    display: inline-flex;
    width: 100px;
    padding-left: 25px;
}
#contactLinks img{
    height: 50px;
    width: 50px;
}




/* PLGRAPHIC */
#plgraphicTable{
    padding: 40px 20vw 80px 20vw;
}
#plgraphicTable caption{
    width: 100%;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(39, 153, 137);
    font-family: 'Playfair Display', serif;
    color: white;
    font-weight: 100;
    font-size: 40px;
    display: table-caption;
    text-align: center;
}
#plgraphicTable td{
    padding: 10px, 20px, 20px, 0px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: rgb(26, 37, 53);
    font-size: 25px;
}
#plgraphicTable img{
    width: 100%;
}




/* footer */
footer {
    position: fixed;
    bottom: 0;
    padding-left: 30vw;
    padding-right: 30vw;
    width: 100%;
    height: 40px;
    background-color: rgb(26, 37, 53);
}
footer nav ul{
    padding: 10px;
    list-style-type: None;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
footer nav ul li{
    display: inline-block;
    width: 150px;
    margin: auto;
    text-align: center;
}
footer nav ul li p{
    color: #ccc;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
}
footer nav ul li a{
    color: #ccc;
    text-decoration: None;
    font-weight: 100;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    margin: auto;
}
footer nav ul li a:hover {
    color: rgb(39, 153, 137);
}