/* Header image */
.logo img{
    height: 50px;
}

/* PLGraphic Carousel image */
.cover{
    object-fit: cover;
    margin:20px;
}

/* Contact links images*/
.contactLinks img{
    height: 50px;
    width: 50px;
}