/* Clase general */
body {
    padding-top: 76px;
}
#collapsibleNavbar a{
    margin-left: 20px;
}
@media screen and (min-width: 1400px) {
    #collapsibleNavbar a {
        margin-left: 0px;
        &:hover{
            transform: scale(1.1,1.1);
        }
    }
}

/* Contact full screen*/
.full-screen {
    height: 100vh;
}
