$primary-font: Arial, Helvetica, sans-serif;

@mixin flex-center{
	display:flex;
	justify-content:center;
    align-items:center;
}

/* Textos generales */
.title{
    @include flex-center;
    height: 100px;
    font-family: $primary-font;
    font-weight: 100;
    font-size: 40px;
    text-align: center;
}
.description{
    font-family: $primary-font;
    font-size: 20px;
    line-height: 40px;
    text-justify: auto;
}

/* Description de videos para Pyautocad y ML*/
.videoDescription {
    @include flex-center;
    flex-direction: column;
    font-family: $primary-font;
}