@mixin sizes($width, $height) {
    height: $height;
    width: $width;
}

/* Home */
#homepageVideo {
    @include sizes(100vw, 420px);
}

/* Pyautocad y ML*/
.youtube-video-section iframe{
    @include sizes(400px, 200px);
    margin: auto;
    display: block;
}
.card{
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}