/* Home */
#homepageVideo {
    min-height: 420px;
    min-width: 100vw;
}

/* Pyautocad y ML*/
.youtube-video-section iframe{
    height: 200px;
    width: 400px;
    margin: auto;
    display: block;
}